<a href="https://colab.research.google.com/github/Theanh130124/Datamining_srccode/blob/main/BaiTap_PhanLopTrenLop-Buoi4-Bai2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel("/content/Bai1.xlsx")
age_min = data['Age 1'].min()
age_max = data['Age 1'].max()
data['Age 1'] = round(((data['Age 1'] - age_min) / (age_max - age_min)) * 5, 1)
data

,Number,Age 1,Age 2,Gender,MaritalStatus,EducationLevel,EducationBackground,JobRole,EnvironmentSatisfaction,RelationshipSatisfaction,WorkLifeBalance,TotalWorkExperienceInYears,ExperienceYearsInCurrentRole,PerformanceRating,PerformanceResult
0,E1001000,1.7,Main labor group,Male,Single,3,Exceed Expectation,Sales Executive,4,4,2,10,7,3,Meet Expectation
1,E1001006,3.5,Middle-aged labor group,Male,Single,4,Marketing,Sales Executive,4,4,3,20,7,3,Meet Expectation
2,E1001007,2.6,Main labor group,Male,Married,4,Life Sciences,Sales Executive,4,3,3,20,13,4,Exceed Expectation
3,E1001009,2.7,Middle-aged labor group,Male,Divorced,4,Human Resources,Manager,2,2,2,23,6,3,Meet Expectation
4,E1001010,5.0,Old labor group,Male,Single,4,Marketing,Sales Executive,1,4,3,10,2,3,Meet Expectation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,E100992,1.1,Main labor group,Female,Divorced,1,Medical,Sales Executive,4,2,3,6,5,4,Exceed Expectation
1196,E100993,2.3,Main labor group,Male,Single,2,Life Sciences,Senior Developer,4,1,3,4,0,3,Meet Expectation
1197,E100994,3.8,Middle-aged labor group,Male,Married,1,Medical,Senior Developer,4,3,3,20,8,3,Meet Expectation
1198,E100995,1.9,Main labor group,Female,Single,3,Medical,Data Scientist,4,2,4,9,7,3,Meet Expectation
1199,E100998,0.7,Young labor group,Female,Single,2,Life Sciences,Sales Executive,1,1,3,4,2,2,Needs Improvement

In [ ]:
data.loc[data['PerformanceRating'] == 1, ['PerformanceRating','PerformanceResult']] = [2, "Meet Expectation"]

In [ ]:
data[150:172]

,Number,Age,Age.1,Gender,MaritalStatus,EducationLevel,EducationLevel.1,EducationBackground,JobRole,EnvironmentSatisfaction,...,RelationshipSatisfaction,RelationshipSatisfaction.1,WorkLifeBalance,WorkLifeBalance.1,TotalWorkExperienceInYears,TotalWorkExperienceInYears.1,ExperienceYearsInCurrentRole,ExperienceYearsInCurrentRole.1,PerformanceRating,PerformanceResult
150,E1001276,33,Main labor group,Female,Married,4,Master,Other,Developer,3,...,1,Low,3,Better,6,Silver range,5,Copper range,3,Meet Expectation
151,E1001277,41,Middle-aged labor group,Male,Divorced,3,Bachelor,Medical,Developer,1,...,2,Medium,4,Best,21,Diamond range,16,Gold range,3,Meet Expectation
152,E1001280,45,Middle-aged labor group,Male,Married,2,College,Life Sciences,Developer,4,...,3,High,3,Better,9,Silver range,8,Silver range,3,Meet Expectation
153,E1001281,47,Middle-aged labor group,Female,Single,2,College,Life Sciences,Sales Executive,4,...,3,High,3,Better,9,Silver range,0,no exps,3,Meet Expectation
154,E1001282,30,Main labor group,Female,Married,3,Bachelor,Life Sciences,Developer,1,...,2,Medium,3,Better,7,Silver range,2,Copper range,3,Meet Expectation
155,E1001283,50,Middle-aged labor group,Male,Married,3,Bachelor,Life Sciences,Developer,4,...,4,Very High,3,Better,22,Diamond range,11,Gold range,3,Meet Expectation
156,E1001284,38,Main labor group,Male,Married,1,Below College,Medical,Senior Manager R&D,3,...,2,Medium,2,Good,3,Copper range,1,Copper range,3,Meet Expectation
157,E1001288,35,Main labor group,Male,Divorced,4,Master,Other,Laboratory Technician,3,...,4,Very High,1,Bad,5,Copper range,2,Copper range,3,Meet Expectation
158,E1001289,31,Main labor group,Female,Married,1,Below College,Life Sciences,Manufacturing Director,3,...,3,High,3,Better,4,Copper range,3,Copper range,3,Meet Expectation
159,E1001290,18,Young labor group,Male,Single,2,College,Life Sciences,Research Scientist,2,...,4,Very High,3,Better,0,no exps,0,no exps,3,Meet Expectation
160,E1001291,54,Old labor group,Female,Married,3,Bachelor,Technical Degree,Senior Manager R&D,3,...,3,High,3,Better,22,Diamond range,7,Silver range,3,Meet Expectation
161,E1001292,35,Main labor group,Female,Divorced,4,Master,Medical,Healthcare Representative,3,...,3,High,2,Good,16,Gold range,10,Silver range,3,Meet Expectation
162,E1001293,30,Main labor group,Female,Married,2,College,Life Sciences,Research Director,2,...,3,High,2,Good,9,Silver range,7,Silver range,2,Needs Improvement
163,E1001296,26,Main labor group,Male,Married,2,College,Medical,Senior Manager R&D,4,...,2,Medium,3,Better,8,Silver range,7,Silver range,3,Meet Expectation
164,E1001297,22,Young labor group,Male,Married,1,Below College,Life Sciences,Laboratory Technician,2,...,1,Low,2,Good,4,Copper range,3,Copper range,2,Meet Expectation
165,E1001300,48,Middle-aged labor group,Male,Single,3,Bachelor,Life Sciences,Healthcare Representative,1,...,4,Very High,3,Better,19,Gold range,2,Copper range,2,Meet Expectation
166,E1001302,48,Middle-aged labor group,Male,Single,4,Master,Life Sciences,Senior Manager R&D,3,...,2,Medium,3,Better,27,Diamond range,11,Gold range,3,Meet Expectation
167,E1001303,41,Middle-aged labor group,Female,Single,2,College,Medical,Manufacturing Director,4,...,2,Medium,3,Better,8,Silver range,2,Copper range,3,Meet Expectation
168,E1001304,39,Main labor group,Female,Married,1,Below College,Life Sciences,Manufacturing Director,4,...,3,High,3,Better,21,Diamond range,6,Silver range,3,Meet Expectation
169,E1001305,27,Main labor group,Female,Married,4,Master,Life Sciences,Senior Manager R&D,1,...,2,Medium,3,Better,4,Copper range,2,Copper range,2,Meet Expectation
170,E1001306,35,Main labor group,Male,Divorced,3,Bachelor,Other,Laboratory Technician,2,...,1,Low,2,Good,3,Copper range,2,Copper range,2,Meet Expectation
171,E1001307,42,Middle-aged labor group,Male,Married,2,College,Marketing,Manager,4,...,2,Medium,4,Best,21,Diamond range,0,no exps,4,Exceed Expectation

In [ ]:
data.loc[data['PerformanceRating'] == 5, ['PerformanceRating','PerformanceResult']] = [4, "Exceed Expectation"]

In [ ]:
data

,Number,Age 1,Age 2,Gender,MaritalStatus,EducationLevel,EducationBackground,JobRole,EnvironmentSatisfaction,RelationshipSatisfaction,WorkLifeBalance,TotalWorkExperienceInYears,ExperienceYearsInCurrentRole,PerformanceRating,PerformanceResult
0,E1001000,1.7,Main labor group,Male,Single,3,Exceed Expectation,Sales Executive,4,4,2,10,7,3,Meet Expectation
1,E1001006,3.5,Middle-aged labor group,Male,Single,4,Marketing,Sales Executive,4,4,3,20,7,3,Meet Expectation
2,E1001007,2.6,Main labor group,Male,Married,4,Life Sciences,Sales Executive,4,3,3,20,13,4,Exceed Expectation
3,E1001009,2.7,Middle-aged labor group,Male,Divorced,4,Human Resources,Manager,2,2,2,23,6,3,Meet Expectation
4,E1001010,5.0,Old labor group,Male,Single,4,Marketing,Sales Executive,1,4,3,10,2,3,Meet Expectation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,E100992,1.1,Main labor group,Female,Divorced,1,Medical,Sales Executive,4,2,3,6,5,4,Exceed Expectation
1196,E100993,2.3,Main labor group,Male,Single,2,Life Sciences,Senior Developer,4,1,3,4,0,3,Meet Expectation
1197,E100994,3.8,Middle-aged labor group,Male,Married,1,Medical,Senior Developer,4,3,3,20,8,3,Meet Expectation
1198,E100995,1.9,Main labor group,Female,Single,3,Medical,Data Scientist,4,2,4,9,7,3,Meet Expectation
1199,E100998,0.7,Young labor group,Female,Single,2,Life Sciences,Sales Executive,1,1,3,4,2,2,Needs Improvement

In [ ]:
EducationLevel = {
    "Below College ": 1,      # Below College -> 0
    "College ": 2,   # College -> 0.25
    " Bachelor": 3,    # Bachelor -> 0.5
    "Master": 4,   # Master -> 0.75
    "Doctor": 5       # Doctor -> 1
}

G = {
    "Male" : 0,
    "Female" : 1
}

Marital = {
    "Single" : 1,
    "Married" : 3,
    "Divorced" : 5
}

Age_2 = {
    "Young labor group": 1,
    "Main labor group": 2,
    "Middle-aged labor group": 3,
    "Old labor group":4

}

EducationBackground = {
    "Exceed Expectation" : 5,
    "Marketing" : 4,
    "Life Sciences" : 3,
    "Human Resources" : 2 ,
    "Medical" :  1,
    "Other" : 0
}

JobRole = {
    "Sales Executive" : 0,
    "Manager" : 1,
    "Developer" :2,
    "Sales Representative" : 3,
    "Human Resources" : 4,
    "Senior Developer" :5,
    "Data Scientist" :6
}

EnvironmentSatisfaction = {
    "Low" : 1,
    "Medium" :2,
    "High" : 3,
    "Very High" : 4
}

RelationshipSatisfaction = {
    "Low" : 1,
    "Medium" :2,
    "High" : 3,
    "Very High" : 4
}

WorkLifeBalance = {
    "Bad" : 1,
    "Good" :2,
    "Better" : 3,
    "Best" : 4
}

JobInvolvement = {
    "Low" : 1,
    "Medium" :2,
    "High" : 3,
    "Very High" : 4
}

TotalWorkExperienceInYears = {
    "no exps" : 1,
    "Copper range": 2,
    "Silver range" : 3,
    "Gold range" : 4,
    "Diamond range" : 5
}

ExperienceYearsInCurrentRole = {
    "no exps" : 1,
    "Copper range": 2,
    "Silver range" : 3,
    "Gold range" : 4,
    "Diamond range" : 5
}






data['Age 2'] = data['Age 2'].map(Age_2)
# data['Gender'] = data['Gender'].map(G)
# data['MaritalStatus'] = data['Marital'].map(Marital)
data['EducationBackground'] = data['EducationBackground'].map(EducationBackground)
data['JobRole'] = data['JobRole'].map(JobRole)

In [ ]:
data['Gender'] = data['Gender'].map(G)
data['MaritalStatus'] = data['MaritalStatus'].map(Marital)

In [ ]:
data.drop("Number", axis= 1, inplace= True)

In [ ]:
data.fillna(3, inplace= True)

In [ ]:
data

,Age 1,Age 2,Gender,MaritalStatus,EducationLevel,EducationBackground,JobRole,EnvironmentSatisfaction,RelationshipSatisfaction,WorkLifeBalance,TotalWorkExperienceInYears,ExperienceYearsInCurrentRole,PerformanceRating,PerformanceResult
0,1.7,2,0,1,3,5.0,0.0,4,4,2,10,7,3,Meet Expectation
1,3.5,3,0,1,4,4.0,0.0,4,4,3,20,7,3,Meet Expectation
2,2.6,2,0,3,4,3.0,0.0,4,3,3,20,13,4,Exceed Expectation
3,2.7,3,0,5,4,2.0,1.0,2,2,2,23,6,3,Meet Expectation
4,5.0,4,0,1,4,4.0,0.0,1,4,3,10,2,3,Meet Expectation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1.1,2,1,5,1,1.0,0.0,4,2,3,6,5,4,Exceed Expectation
1196,2.3,2,0,1,2,3.0,5.0,4,1,3,4,0,3,Meet Expectation
1197,3.8,3,0,3,1,1.0,5.0,4,3,3,20,8,3,Meet Expectation
1198,1.9,2,1,1,3,1.0,6.0,4,2,4,9,7,3,Meet Expectation
1199,0.7,1,1,1,2,3.0,0.0,1,1,3,4,2,2,Needs Improvement

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

trainSet , testSet = train_test_split(data, test_size = 0.2, random_state=42)

knn = KNeighborsClassifier(n_neighbors = 10)
knn.fit(trainSet[["Age 1","Age 2",	"Gender",	"MaritalStatus", 	"EducationLevel",	"EducationBackground",	"JobRole",	"EnvironmentSatisfaction",
                  "RelationshipSatisfaction",	"WorkLifeBalance",	"TotalWorkExperienceInYears",	"ExperienceYearsInCurrentRole",	"PerformanceRating"]], trainSet["PerformanceResult"])

knn_pred = knn.predict(testSet[["Age 1","Age 2",	"Gender",	"MaritalStatus", 	"EducationLevel",	"EducationBackground",	"JobRole",	"EnvironmentSatisfaction",
                  "RelationshipSatisfaction",	"WorkLifeBalance",	"TotalWorkExperienceInYears",	"ExperienceYearsInCurrentRole",	"PerformanceRating"]])

print("Pan tich")
print(classification_report(testSet["PerformanceResult"], knn_pred))

Pan tich
                    precision    recall  f1-score   support

Exceed Expectation       0.00      0.00      0.00        27
  Meet Expectation       0.79      1.00      0.88       186
 Needs Improvement       1.00      0.19      0.31        27

          accuracy                           0.80       240
         macro avg       0.60      0.40      0.40       240
      weighted avg       0.73      0.80      0.72       240

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))